

.module-migration {

  #wrapper {

    .form-horizontal {
/*
      .control-label {
        width: 200px;
        float:left;
      }

      .controls{
        max-width: 190px;
        float:left;
      }*/

      input.form-control {
        height: 18px;
      }

      .help-inline{
        position: absolute;
        top: 6px;
        left: 145px;
        white-space: nowrap;
      }

    }

  }

}