
.module-game {

  .expansion-0 #content .content-top { background: url("../images/wiki/index-bg-0.jpg") 0 0 no-repeat; }
  .expansion-1 #content .content-top { background: url("../images/wiki/index-bg-1.jpg") 0 0 no-repeat; }
  .expansion-2 #content .content-top { background: url("../images/wiki/index-bg-2.jpg") 0 0 no-repeat; }
}

