.sb_passive_container {     
    position:fixed;     
    top:35%; 
    bottom:0;   
    left:0px;   
    z-index:2000000000;     
    margin:0px;     
    padding:0px;    
    height: 101px;  
    background:none;    
    line-height:normal;     
    cursor:pointer; 
} 

#ts_overlay{ top: 0px;left: 0px; display:none; width: 319px;}

#ts_label { 
    position:absolute;  top: 19px;  left:11px;  z-index:1; 
    width:20px; height:80px;    
    background:transparent url("../images/ts_label_img.png") 0px 0px no-repeat; 
} 
/* alternative */
#ts_label {     top: 11px; 
    left:11px;  
    background:transparent url("../images/ts_label_text.png") 0px 0px no-repeat;
} 
.sb_passive_count {     position:absolute;  top:-3px;   z-index:2;  margin:0;     padding:1px 5px;     -webkit-border-radius:8px;     -moz-border-radius:8px;   background-color:#FF0000;     -webkit-box-shadow: #999 0 1px 2px;     -moz-box-shadow: 0 1px 2px #999;     box-shadow: 0 1px 2px #999;  color:#FFFFFF;  text-align:left;    text-decoration:none;   text-transform:none;    letter-spacing:0px;     font-weight:bold;   font-stretch:normal;    font-size:11px;     font-family:"lucida grande",tahoma,verdana,arial,sans-serif;    line-height:normal;     filter: progid:DXImageTransform.Microsoft.dropShadow(color=#999999, offX=0, offY=1, Positive=true); } 
.sb_passive_1n {     left:20px;     padding:1px 5px !important; } 
.sb_passive_2n {    left:15px;  padding:1px 4px !important; } 
.sb_passive_3n {    left:10px;  padding:1px 4px !important; } 

#sb_passive_large {
    position:absolute;     top:0px;     left:0px;   
    margin:0;   padding:0;  
    width:38px;     height:101px;   
    border: none;   
    background:transparent url("../images/ts_passive_tab.png") 0px 0px no-repeat;    
    opacity:.95; 
} 
.sb_passive_container.sb_open #ts_label {   left:8px; } 
.sb_passive_container.sb_open .sb_passive_1n {  left:15px; } 
.sb_passive_container.sb_open .sb_passive_2n {     left:10px; } 
.sb_passive_container.sb_open .sb_passive_3n {     left:5px; } 
#sb_passive_large.sb_open {     background-position: 0px -101px !important; } 
.sb_passive_container.sb_open #sb_passive_large {   background-position: -5px -202px !important; } 
.sb_passive_container.sb_open #sb_passive_large.sb_open {   background-position: -5px -303px !important; } 
.sb_overlay {   position: fixed;    top: 0px;   left:-420px;    z-index: 1000000000; overflow: auto;    margin:0px;     padding:0px;    min-width:289px;    width: 420px;   height: 100%; border-right:#333 1px solid ;     background-color:#333333;   opacity:0.95; } 
.sb_content {   position: fixed;    top: 0px;   left:-410px;    z-index: 2000000000;    margin: 0px;    padding: 0px;   min-width:269px;    width: 400px;   height: 100%;   border:none;    scrolling: no; } 

/* loading animations */
.sb_n_load {    opacity:0.6;    filter2: alpha(opacity=60); } 

#ts_overlay.sb_n_load img{display:none;}
#ts_overlay .ts_waitload_overlay { position:absolute; top:35%;  display:none; margin:30px 150px; } 
#ts_overlay.sb_n_load .ts_waitload_overlay {    display:inline; } 


.sb_waitload {  position:absolute;  top:39px;   left:11px;  display:none; } 
.sb_n_load .sb_waitload {   display:inline; } 
