<textarea id="comment-edit-textarea-{{id}}" name="new-content" rows="4">{{content}}</textarea>
<button type="submit" class="ui-button button2 jsSubmitEditComment" data-comment="{{id}}"><span><span>{{lang.save}}</span></span></button>