
.project-list {


  li {

    &:nth-child(odd){
      background-color: transparent;
    }

    label {
      position: relative;
      display: inline-block;
      border: 0px solid transparent;

      clear: both;

      width: 620px;
      margin: 0px 0px 0px 0px;
    }

    a {
      width: 200px;
    }

  }



  ul.sub-projects {
    margin-left: 20px;

    li{

    }

    .level-1:before{
      content: "-";
    }
    .level-2:before{
      content: "--";
    }


  }

}

.table{
  .inprogress td:first-child,
  .inprogress:hover td:first-child{
    background-color:#F60;
    padding:0px;
  }

  .done td:first-child,
  .done:hover td:first-child{
    background-color:#0C0;
    padding:0px;
  }
  .deleted td:first-child,
  .deleted:hover td:first-child{
    background-color:#C00;
    padding:0px;
  }

}