
@import "colors";

/**
 * This stylesheet contains both general
 * and certain module specific selectors.
 * You should edit the colors to suit your
 * theme. You can also override their module
 * provided default styles like font-size,
 * margin and padding.
 *
 * If you need to look up the default styles
 * of a selector, please refer to:
 * /application/css/default.css
 */

/* News pagination link states */

#news_pagination a, #messages_pagination a {
    margin: 0px;
    display: block;
}

.location {
    border: 1px solid #0a232a;
    background-color: rgba(7, 14, 18, 0.8);
}

.location_name {
    color: #CF9139;
}

.location:hover {
    background-color: rgba(7, 14, 18, 1);
}

/* Slider text bar */

.caption {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

#slider_next, #slider_previous {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

#slider_next:hover, #slider_previous:hover {
    background-color: #000;
}

#store {
    margin-left: -8px;
}

/* =========== Breadcrumbs ============ */
.content-trail {
    height: 30px;
    padding: 10px 0 0 0px;

    &.row {
        /*margin-left: 0px;*/
    }

    .ui-breadcrumb {
        list-style: none;
        margin: 0;
        float: left;
        font-size: 12px;

        li {
            padding-right: 0px;
            float: left;
            margin-right: 5px;

            &:first-child {
                a {
                    margin-left: 0px;
                }
            }

            a {
                margin-left: 10px;

                &:before {

                    font-family: 'Glyphicons Halflings';
                    content: "\e080";
                    font-size: 8px;
                    font-style: normal;
                    font-weight: normal;

                    position: relative;
                    margin-right: 10px;


                    @include vendorPrefix(box-sizing, border-box);
                }
            }

            &.active {
                background: none;
                color: white;
                font-weight: bold;

                a {
                    color: white;
                    font-weight: bold;
                    border-bottom: none;
                }
            }
        }
    }
}

/* =========== User-Plate ============ */
.user-plate {
    color: #fff;
    width: 275px;
    height: 84px;

    position: absolute;
    right: 8px;
    top: 8px;

    // Versuch eines überlagernden Eiszapfens..
    /*&:after{
        content: "";
        display: block;
        background: url(../images/ice_2.png) no-repeat top left;
        position: absolute;
        right: 16px;
        top: 0px;
        width: 23px;
        height: 27px;
    }*/

    /* class icon */
    .card-character {
        display: block;

        width: 100%;
        height: 84px;
        padding: 0;

        color: #EEE;
        font-size: 14px;
        line-height: 1.4em;

        position: absolute;
        bottom:0px;

        text-overflow: ellipsis;

        &:hover {
            color: #fff;
            strong {
                color: white;
            }
        }

        &.plate-logged-out{
            position: relative;
            top: -7px;

            .card-portrait {
                display: none;
            }
        }

        strong {
            color: #ffb100;
        }

        .login-msg {
            display:block;
            float:left;
            width:210px;
            margin-top:12px;
            text-shadow:1px 1px 1px #555
        }

        .wow-login-key {
            display:block;
            position:absolute; right:50px; top:31px;
            width:50px; height:42px;
        }

        .card-portrait {
            width:58px;
            height:58px;
            display:block;
            float:right;
            border:1px solid #c3ff00;
            margin-top:7px;
            margin-right:21px;
        }


        &.plate-alliance {
            margin: 0px 1px 0px 0px;

            .card-portrait { border-color:#00bbf6 }
            .profile-link:hover .card-portrait { border-color:#00c5f7 }
        }

        &.plate-horde {
            .card-portrait { border-color:#e23739 }
            .profile-link:hover .card-portrait { border-color:#e63f41 }
        }

    }

    .meta-wrapper {
        position:relative;
        width:240px;
        left:0px;
        top:10px;

        &.meta-alliance {
            .player-name {
                color: #5fb8eb;
            }
            .character-name:hover {
                color: white;
                text-shadow: 1px 1px 1px black, 0 0 15px #409aff, 0 0 5px #409aff;
            }
        }

        &.meta-horde {
            .player-name {
                color: #eb1212;
            }
            .character-name:hover {
                color: white;
                text-shadow: 1px 1px 1px black, 0 0 15px #c64040, 0 0 5px #c64040;
            }
        }
    }

    .user-meta {
        padding-left: 20px;
        position: absolute;
        left: 0;
        top: 68px; z-index: 3; float: left;
        &.meta-empty { padding-left: 85px; padding-top: 6px; }
        &.meta-login { padding-left: 85px; padding-top: 6px; top: 63px; padding-right: 10px; }
    }
    .character { position: relative; }

    .player-name,
    a.guild-name {
        display: block;
        text-shadow: 1px 1px 1px black;
        font-weight: bold;

        color: $lightHighlight;
    }

    .player-name { color: #b0d715; font-weight: bold; line-height: 100%; margin-bottom: 2px; }
    .context-link { background:none; }

    .character-name{
        color: $lighterHighlight;
        line-height: 100%;
        font-weight: bold;
        font-size: 24px;
        margin: 0;
        padding-right: 15px;
        background-position: 100% 10px;
        letter-spacing: -0.0em;
        text-shadow: 1px 1px 1px black;
        letter-spacing: -0.05em;

        &.context-open,
        &:hover {
            color: white;
        }
        .arrow {
            display: inline-block;
            width: 11px;
            height: 15px;
            font-size: 16px;
        }
    }

    .ui-context { top: 30px }
    .ui-context a { color: #00B6FF; }
    .ui-context a:hover { color: #fff; }
    a.profile-link,
    a.profile-link .hover { display: block; width: 200px; height: 125px; }
    a.profile-link { position: absolute; bottom: 0; right: 2px; }
    a.profile-link .hover { background: url("../images/card-model-hover.png") no-repeat; opacity: 0; -webkit-transition: opacity 0.1s linear; -o-transition: all 0.1s linear; -moz-transition: opacity 0.1s linear; transition: opacity 0.1s linear; }
    #header .user-plate.plate-horde a.profile-link .hover { background-position: right top; }
    a.profile-link:hover .hover { opacity: 1; }

    &.plate-nochars .user-meta { padding: 15px 165px 0 20px; }

    &.plate-alliance .player-name { color: #5fb8eb; }
    &.plate-alliance .character-name:hover { color: white; text-shadow: 1px 1px 1px black, 0 0 15px #409aff, 0 0 5px #409aff; }

    &.plate-horde .player-name { color: #eb1212; }
    &.plate-horde .character-name:hover { color: white; text-shadow: 1px 1px 1px black, 0 0 15px #c64040, 0 0 5px #c64040; }


}

.ui-context {
    display: none;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 9000;
    opacity: .98;
    width: 225px;
    background: #151616;
    border: 1px solid #262626;
    font: normal 12px "Arial", sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: #000 0 0 10px;
    -webkit-box-shadow: #000 0 0 10px;
    box-shadow: #000 0 0 10px;
    a {
        color: #00B6FF;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
        &.pinned {
            cursor: default;
        }
    }
    .context {
        padding: 10px;
        strong {
            color: #fff;
            font-size: 14px;
        }
        span {
            color: #5d636b;
        }
        .close {
            padding: 0;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 11px;
            height: 11px;
            display: block;
            font-size: 14px;
            text-shadow: none;
            color: white;

            &:hover {
                opacity: 1;
            }
        }
        .context-user {
            padding-bottom: 10px;
        }
        .context-links {
            height: 30px;
            a {
                display: block;
                line-height: 30px;
                float: left;
                padding: 0 5px;
                height: 30px;
                background: #292a2a;
                margin-right: 1px;
                font-weight: bold;
                &:hover {
                    background-color: #525252;
                }
            }
            .link-first {
                -moz-border-radius-topleft: 3px;
                -moz-border-radius-bottomleft: 3px;
                -webkit-border-top-left-radius: 3px;
                -webkit-border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            .link-last {
                -moz-border-radius-topright: 3px;
                -moz-border-radius-bottomright: 3px;
                -webkit-border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
    }
    .character-list {
        padding-top: 1px;
        color: #5b616a;
        overflow: hidden;
        &.loading-chars {
            padding: 50px;
            background: url("../images/uber-loading.gif") 50% 50% no-repeat;
        }

        .race, .class, .realm {
            text-transform: uppercase;
            color: #5b616a;
            font-size: 11px;
        }

        .realm {
            &.up {
                color: $realmOnline;
            }
            &.down {
                color: $realmOffline;
            }
        }

        .primary {
            padding-bottom: 2px;

            .realm {
                font-size: 14px;
                font-weight: bold;
                i {
                    padding: 5px 12px 5px 5px;
                }
            }

            .char {
                display: block;
                padding: 4px 10px;
                opacity: .50;
                border-bottom: 1px solid rgba(255,255,255,0.1);

                span {
                    display: block;
                }

                .name {
                    font-size: 12px;
                    color: #fff;
                    font-weight: bold;
                }
                .pin {
                    margin-top: 2px;
                    float: right;
                    width: 16px;
                    height: 16px;
                    display: block;
                }
                &.pinned {
                    .pin {
                        background-position: 0 -83px;
                    }
                    color: #fff;
                    background-color: #080809;
                    opacity: 1;
                }
                &:hover {
                    color: #fff;
                    background-color: #080809;
                    opacity: 1;
                }
                &:last-child {
                    margin: 0;
                    background-image: none;
                }
            }
        }
        .secondary {
            .viewport {
                width: 185px;
                float: left;
                height: 265px;
                overflow: hidden;
                position: relative;
                a {
                    display: block;
                    padding: 5px;
                    .icon-frame {
                        vertical-align: middle;
                    }
                    &:hover {
                        background: #080809;
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        border-radius: 5px;
                    }
                    &.filtered {
                        display: none;
                    }
                }
            }
            .overview {
                position: absolute;
                left: 0;
                top: 0;
                width: 185px;
            }
            .scrollbar {
                position: relative;
                float: right;
                width: 15px;
            }
            .track {
                background: #080808;
                height: 100%;
                width: 13px;
                position: relative;
                padding: 1px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            .thumb {
                height: 20px;
                width: 13px;
                cursor: pointer;
                overflow: hidden;
                position: absolute;
                top: 0;
                background: #24292e;
                -moz-border-radius: 5px;
                border-radius: 5px;
                .end {
                    display: none;
                }
            }
            .disable {
                display: none;
            }
            .char-wrapper {
                padding: 10px;
                height: 265px;
                width: 205px;
            }
        }
    }
    .no-results {
        text-align: center;
        padding: 15px;
    }
    .char-wrapper {
        padding-bottom: 1px;
        clear: both;
        -moz-box-shadow: #000 0 0 5px inset;
        -webkit-box-shadow: #000 0 0 5px inset;
        box-shadow: #000 0 0 5px inset;
    }
    .filter {
        text-align: center;
        .input {
            margin-bottom: 5px;
        }
        padding: 10px 10px 8px 10px;
        display: block;
        line-height: 125%;
    }
    .manage-chars {
        padding: 10px 10px 8px 10px;
        display: block;
        line-height: 125%;
        span {
            color: #5b616a;
        }
    }
    a.manage-chars:hover span {
        color: #aaa;
        &.plus {
            background-position: 0 -265px;
        }
    }
    .manage-chars .plus {
        width: 15px;
        height: 15px;
        display: block;
        float: right;
        margin: 15px 0 15px 10px;
    }
}

/* News comments styles */

.staff_comment .comment_author {
    color: #00B4FF !important;
}

.comment, .message_box {
    width: 345px !important;
    background-color: #070e12 !important;
    color: inherit !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.comment a img, .message_box a img {
    border: 1px solid #000 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.comment_author:hover, .message_box_author:hover {
    color: #fff !important;
}

.comment_date, .message_box_date, .characters_remaining {
    color: #666;
}

/* Comments and shoutbox: characters remaining indicator text */

#poll_answers .poll_answer {
    margin-left: 10px;
}

/* Modal boxes: alert & confirm */

.popup {
    background-color: #eee;
    border: 1px solid #fff;
    box-shadow: 0px 0px 35px #000;
    -webkit-box-shadow: 0px 0px 35px #000;
    -moz-box-shadow: 0px 0px 35px #000;
    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
}

.popup_button {
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
    -o-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    text-shadow: 0 -1px 0 #4c9021;
    &:hover {
        background-color: #76b347;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
        background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
        background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
        background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
        background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
        background-image: linear-gradient(top, #76b347, #5e9e2e);
        -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
        -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
        -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
        -o-box-shadow: inset 0 1px 0 0 #8dbf67;
        box-shadow: inset 0 1px 0 0 #8dbf67;
    }
    &:active {
        border: 1px solid #5b992b;
        border-bottom: 1px solid #538c27;
        -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
        -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
        -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
        -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
        box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    }
}

.popup_hide {
    background-color: #bfbfbf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #9a9a9a));
    background-image: -webkit-linear-gradient(top, #bfbfbf, #9a9a9a);
    background-image: -moz-linear-gradient(top, #bfbfbf, #9a9a9a);
    background-image: -ms-linear-gradient(top, #bfbfbf, #9a9a9a);
    background-image: -o-linear-gradient(top, #bfbfbf, #9a9a9a);
    background-image: linear-gradient(top, #bfbfbf, #9a9a9a);
    border: 1px solid #9a9a9a;
    border-bottom: 1px solid #9a9a9a;
    -webkit-box-shadow: inset 0 1px 0 0 #cbcbcb;
    -moz-box-shadow: inset 0 1px 0 0 #cbcbcb;
    -ms-box-shadow: inset 0 1px 0 0 #cbcbcb;
    -o-box-shadow: inset 0 1px 0 0 #cbcbcb;
    box-shadow: inset 0 1px 0 0 #cbcbcb;
    text-shadow: 0 -1px 0 #8f8f8f;
    &:hover {
        background-color: #adadad;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adadad), color-stop(100%, #a0a0a0));
        background-image: -webkit-linear-gradient(top, #adadad, #a0a0a0);
        background-image: -moz-linear-gradient(top, #adadad, #a0a0a0);
        background-image: -ms-linear-gradient(top, #adadad, #a0a0a0);
        background-image: -o-linear-gradient(top, #adadad, #a0a0a0);
        background-image: linear-gradient(top, #adadad, #a0a0a0);
        -webkit-box-shadow: inset 0 1px 0 0 #bbbbbb;
        -moz-box-shadow: inset 0 1px 0 0 #bbbbbb;
        -ms-box-shadow: inset 0 1px 0 0 #bbbbbb;
        -o-box-shadow: inset 0 1px 0 0 #bbbbbb;
        box-shadow: inset 0 1px 0 0 #bbbbbb;
    }
    &:active {
        border: 1px solid #a0a0a0;
        border-bottom: 1px solid #8b8b8b;
        -webkit-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
        -moz-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
        -ms-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
        -o-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
        box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eeeeee;
    }
}

#popup_bg {
    background-color: #000;
}

/* Tooltip */

#tooltip, .tooltip {
    background-color: #070c21;
    background-color: rgba(7, 12, 33, 0.9);
    border: 1px solid #777777;
    border-top: 1px solid #cfcfcf;
    -webkit-box-shadow: 0px 0px 3px #000;
    -moz-box-shadow: 0px 0px 3px #000;
    box-shadow: 0px 0px 3px #000;
    color: #fff;
}

/* Form fields */

textarea {
    padding: 8px;
    color: #4f5356;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    font-family: MuseoSans, Arial, Helvetica, Sans-serif;
    font-size: 12px;
    border-radius: 2px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, 0.03);
}

select {
    font-family: MuseoSans, Arial, Helvetica, Sans-serif;
    font-size: 12px;
    width: 80%;
    padding: 8px;
    color: #4f5356;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 5px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, 0.03);
}

input {
    &[type="text"], &[type="password"], &[type="email"] {
        font-family: MuseoSans, Arial, Helvetica, Sans-serif;
        font-size: 12px;
        width: 80%;
        padding: 8px;
        color: #4f5356;
        background: rgba(0, 0, 0, 0.6);
        border: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        margin: 5px;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -o-transition: all 300ms;
        -ms-transition: all 300ms;
        transition: all 300ms;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, 0.03);
    }
    &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus {
        color: #9db2c1;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 6px rgba(51, 204, 255, 0.06);
    }
}

textarea:focus, select:focus {
    color: #9db2c1;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, 0.06), 0 1px 6px rgba(51, 204, 255, 0.06);
}

/* Full-page styles (log in, register etc.) */

.page_form input[type="submit"] {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.avatar, #ucp_avatar, .store_item .item_icon {
    border: 1px solid #000;
    margin-right: 10px;
}

.ucp_divider {
    background-image: url(../images/divider.png);
    background-repeat: no-repeat;
    height: 32px;
    background-position: center;
}

.vertical_divider {
    background-image: url(../images/vertical_divider.png);
    background-repeat: no-repeat;
    height: 424px;
    width: 33px;
}

#armory {
    margin-left: -5px !important;
}

/* First column in the #ucp_info */

#ucp_info {
    aside {
        &:first-child {
            border-right: 1px solid #0a232a;
        }
        &:nth-child(3) {
            border-left: 1px solid #0a232a;
        }
        &:last-child {
            border-right: none !important;
        }
    }
    td:nth-child(2) {
        font-weight: bold;
    }
}

/* Second <td> of each row */

#ucp_buttons a, #ucp_characters a {
    border: 1px solid #000;
}

/* UCP: character list, character */

/* =========== CMS: realm status =========== */

#left .realm {
    color: #a07332;
    font-size: 14px;
    .realm_online {
        color: #3d4346;
        float: right;
        font-size: 12px;
    }
    .realm_bar {
        height: 13px;
        border: 1px solid #080e14;
        background-color: #000000;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.poll_bar {
    height: 13px;
    border: 1px solid #080e14;
    background-color: #000000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#left .realm .realm_bar .realm_bar_fill, .poll_bar_fill {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-image: url(../images/realm_bar.png);
    height: 9px;
    margin-top: 2px;
    margin-left: 2px;
}

#left #realmlist {
    border: 1px solid #080e14;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #000000;
    padding: 5px;
    text-align: center;
    color: #a07332;
    font-size: 12px;
}

/* Online players bar and realm bar (used on UCP, profiles) */

.online_realm_button, #ucp_characters h1 {
    background: url(../images/submit.gif) repeat-x top;
    height: 21px;
    color: #efc149;
    box-shadow: 1px 1px 2px black, inset 1px 1px 0 rgba(255, 255, 204, 0.04);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    padding: 8px;
    margin-top: 5px !important;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
}

.online_realm_button {
    &:hover {
        background-position: 0px -30px;
        color: #ffdd83;
    }
    &:active {
        box-shadow: 1px 1px 0px #020508, 0px 2px 5px #000 inset;
        -webkit-box-shadow: 1px 1px 0px #020508, 0px 2px 5px #000 inset;
        -moz-box-shadow: 1px 1px 0px #020508, 0px 2px 5px #000 inset;
        -ms-box-shadow: 1px 1px 0px #020508, 0px 2px 5px #000 inset;
        -o-box-shadow: 1px 1px 0px #020508, 0px 2px 5px #000 inset;
    }
}

#ucp_info td {
    font-size: 10px;
}

/* Table style, used on vote panel, donate panel, online players etc. */

.nice_table {
    tr:first-child td {
        border-bottom: 1px solid #0a232a;
        color: #A07332;
        font-weight: normal;
        a {
            color: #A07332;
        }
    }
    td {
        vertical-align: middle;
    }
}

/* =========== CMS: shout box =========== */

#left {
    #shoutbox {
        textarea {
            width: 92%;
            height: 20px;
        }
        .shout_characters_remaining {
            font-size: 10px;
            margin-top: 12px;
            margin-left: 1px;
        }
        #shoutbox_submit {
            float: right;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    #the_shouts {
        .shout {
            border-bottom: 1px solid rgba(14, 24, 32, 0.5);
            border-top: 1px solid rgba(0, 0, 0, 0.9);
            padding: 10px;
            color: #3d4346;
            &:first-child {
                border-top: none;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        .shout_date {
            float: right;
            font-size: 10px;
        }
        .shout_author a {
            color: #a07332;
        }
        .shout_staff a {
            color: #2a88c8;
        }
    }
    #shoutbox #shoutbox_view {
        text-align: center;
        padding-top: 10px;
        a {
            font-size: 14px;
        }
    }
}

/* PvP ladder sidebox */

.toppvp_select {
    border-bottom: 1px solid rgba(14, 24, 32, 0.5);
    margin-top: 5px;
}

.toppvp_realm {
    width: 255px !important;
    /* Width of the button - should be whole sidebox */
}

.toppvp_character {
    border-bottom: 1px solid rgba(14, 24, 32, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.9);
    padding: 10px;
    color: #3d4346;
    &:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.9);
    }
    &:last-child {
        border-bottom: none;
    }
}

/* FusionEditor WYSIWYG field */

.fusioneditor {
    .fusioneditor_tools {
        color: #3D4346 !important;
        border-bottom: none !important;
        border: 1px solid #0a232a !important;
        background-color: #070E12 !important;
        a {
            &:hover {
                border: 1px solid #080E14 !important;
                background-color: #020407 !important;
                box-shadow: none !important;
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
            }
            &:active {
                border: 1px solid #666;
            }
        }
    }
    .fusioneditor_field {
        color: #3D4346;
        background-color: #020407 !important;
        border: 1px solid #080E14 !important;
        border-top: none !important;
        b {
            font-weight: bold;
        }
    }
    .fusioneditor_toolbox {
        border-top: 1px solid #080E14 !important;
    }
    .fusioneditor_size {
        color: #666;
        &:hover {
            color: #fff;
        }
    }
    .fusioneditor_color {
        &:hover {
            border: 1px solid rgba(0, 0, 0, 0) !important;
        }
        &:active {
            border: 1px solid rgba(0, 0, 0, 0) !important;
        }
    }
}

/* The pop up "autocomplete" box on private messages -> compose */

#pm_username_autocomplete {
    background-color: #0a0603 !important;
    border: 1px solid #0A394B !important;
    a {
        border-bottom: 1px solid #0A3748 !important;
    }
}

#ucp_buttons {
    width: 690px;
    margin-left: -8px;
}

/* Store: filter fields divider */

#store form .filter_field {
    border-left: 1px solid #0a232a;
    margin-bottom: 8px;
}

/* Store: item group title */

.item_group_title, .store_item {
    text-shadow: 1px 1px 0px #000;
}

.item_group_title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 13px;
}

/* Store: item group box */

.item_group {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #0a232a;
    background-color: rgba(7, 14, 18, 0.8);
    padding: 0px;
}

/* Store: item */

.store_item {
    border-bottom: 1px solid #0a232a;
    &:last-child {
        border-bottom: none;
    }
    &:first-child {
        border-top: none;
    }
}

/* Prevent the bottom border on the last item */

/* Prevent the top border on the first item */

#cart_price_divider {
    border-bottom: 1px solid #0a232a;
    margin-bottom: 10px;
}

#armory_top h1 {
    color: #eee;
}

#avatar_page center {
    color: #fff;
}

#armory_stats td {
    font-size: 12px !important;
}

#store form input[type="text"] {
    width: 95px !important;
}

#change_form input[type="text"] {
    width: 50% !important;
}