
/*
 * Colors
 */

/* Text Colors */
$main: #FFFFFF;
$lighterHighlight: #D2EFEC;
$lightHighlight: #B0D1FA;

$orange: #feba02;

/* Link Colors */
$linkSidebar: #838b8f;
$linkSidebarHover: #ffca4a;
$linkSidebarActive: #fff;

$link: rgba(196, 162, 105, 0.86);
$linkHover: #E0C98F;

/* Background Main Content */
$bgDarkBlue: rgb(17, 18, 26);

/* faction */
$colorAlliance: #247FAA;
$colorHorde: #b30000;


/* item quality */
$colorPoor:       #9d9d9d;
$colorCommon:     #ffffff;
$colorUncommon:   #1eff00;
$colorRare:       #0081ff;
$colorEpic:       #a335ee;
$colorLegendary:  #e5cc80;
$colorArtifact:   #e5cc80;

/* Realm Status */
$realmOffline:    #c83424;
$realmOnline:     #a3c425;


/* expansion */
$colorExpClassic: #fff468;
$colorExpBC: #aad372;
$colorExpWrath: #68ccef;
$colorExpCata: #ff7c0a;